/*slider-container*/
.slider-container{
	background: url("/src/asset/images/background-slider.jpg") center center/cover no-repeat;
	height: 440px;
	width: 100%;
}
/***/
.slick-slider{
	padding-top: 20px;
	padding-bottom: 15px;
}

/***/
.slider-container .slick-prev::before,
.slider-container .slick-next::before{
	font-family: 'Font Awesome\ 5 Free';
	display: block;
}
.slider-container .slick-prev::before{
	/*content: "\f104";*/
	content: "";
	background: url("/src/asset/images/left-arrow.png") center/contain no-repeat;
	height: 33px;
	width: 21px;
}
.slider-container .slick-next::before{
	/*content: "\f105";*/
	content: "";
	background: url("/src/asset/images/right-arrow.png") center/contain no-repeat;
	height: 33px;
	width: 21px;
}
/***/
.slide-item{
	border: 4px solid white;
}

/*manufacturers-container*/

/***/
.manufacturers-container .title-h2{
	margin-top: 72px;
	margin-bottom: 27px;
}
/***/
.manufacturer-wrapper{
	margin-bottom: 24px;
}

/*products-container*/
.products-container{
	background: #f5f5f5;
	overflow: auto;
}
/***/
.products-container .title-h2{
	margin-top: 64px;
	margin-bottom: 30px;
}