/*top-line-container*/
.top-line-container{
	background: #323232;

	color: #b4b4b4;
}
/********/
.social-icon-wrapper{
	width: 48px;;
}
/****/
.top-line-text{
	padding: 6px 0px;
}
/*****/
.top-line-container .fab{
	color: #b4b4b4;
}

/*search-container*/
.logo-icon{
	margin: 20px 0px;
}

.search-wrapper{
	border: 2px solid #e6e6e6;
	height: 30px;
	width: 400px;
}
/***/
.search-input{
	border: none;
	width: calc(100% - 20px);
	outline: none;
	height: 100%;
}
.search-wrapper .fa-search{
	background: none;
	height: 100%;
	min-width: 20px;
}
.contact-item .fas{
	color: #b4b4b4
}
/***/
.download-wrapper .fas{
	margin-right: 10px;
}
.download-wrapper .text{
	font-size: 11px;
}
.contact-item .text{
	font-size: 12px;
	margin-left: 10px;
}

/*nav-container*/
.nav-container{
	background: #0a83c9;
	color: white;
	overflow-x: hidden;
}
/***/
.nav-container .container{
	position: relative;
}
/***/
.side-line{
	position: absolute;
	height: 20px;
	width: 340px;
	bottom: 0px;
}
.side-line-left{
	right: calc(100% + 36px);
	background: url('/src/asset/images/side-line-left.png') no-repeat;
}

.side-line-right{
	left: calc(100% + 36px);
	background: url('/src/asset/images/side-line-right.png') no-repeat;
}

/***/
.menu-item{
	padding: 0px 30px;
	margin:  10px 0px;
	border-right: 1px solid #049be5;

}
.menu-item:first-of-type{
	 padding-left: 0px;
 }
.menu-item:last-of-type{
	padding-right: 0px;
	border-right: none;
}
/***/
.menu-item a{
	color: white;
}