/*MAIN STYLES*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #323232;
}
ul {
	list-style-type: none;
}
a,button{
	text-decoration: none;
	outline: none;
	border: none;
}

.flexible {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.flex-wrap{
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.flex-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.align-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.align-left{
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.justify-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.space-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.flex-end {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.centered {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

/****************/
.color-blue{
	color: #049be5;
}

.title-h2{
	position: relative;
	border-bottom: 1px solid #0a83c9;
	padding-bottom: 5px;
	margin-left: 54px;
	font-size: 26px;
}
.title-h2:before{
	content: '';
	position: absolute;
	top: 50%;
	right: calc(100% + 10px);
	transform: translate(0%, -50%);
	-webkit-transform: translate( 0%, -50%);
	height: 44px;
	width: 44px;
	background: url('/src/asset/images/title-h2-icon.jpg') no-repeat;
	background-size: contain;
}

.btn{
	background: gray;
	color: white;
	margin: 0 auto;
	padding: 5px 10px;
	display: block;
}