/*manufacturer-wrapper*/
.manufacturer-wrapper{

}
.manufacturer-circle{
	width: 138px;
	height: 138px;
	border-radius: 50%;
	border: 1px solid #e6e6e6;
}

/****/
.manufacturer-name{
	text-align: center;
	font-size: 17px;
	text-transform: uppercase;

}